body {
  background-color: #222;
  background: url('/img/gm_bg_mu.jpg') no-repeat center top;
}
#form-wrapper{
  background-color: #f6f6f6;
}
.main-logo{
  background: url('/img/gm_logo_mu.png') no-repeat center 45px;
  width: 910px;
  height: 167px;
  margin: 0 auto;
  display: block;
}
