<div class="row">
  <div class="col-md-10">
    <h3>
      {{ category.title }}
      {% if category.enable == 0 %}
        <span class="label label-success">Habilitado</span>
      {% else %}
        <span class="label label-danger">Deshabilitado</span>
      {% endif %}
    </h3>
    <p class="lead">{{ category.description | raw }}</p>
  </div>
  <div class="col-md-2 pull-right">
    <a href="category/{{ category.idCategory }}">
      <button type="button" name="button" class="btn btn-warning">Editar</button>
    </a>
    <div class="clearfix visible-md"><br></div>
    <a href="categoryDelete/{{ category.idCategory }}">
    <button type="button" name="button" class="btn btn-danger">Eliminar</button>
  </a>
  </div>
</div>
