<div class="header-navbar-mobile">
  <div class="header-navbar-mobile__menu">
    <button type="button" class="btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="header-navbar-mobile__title">
    <span>Sail3</span>
  </div>
  <div class="header-navbar-mobile__settings dropdown">
    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="btn dropdown-toggle">
      <i class="fa fa-power-off"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="#">Log Out</a>
      </li>
    </ul>
  </div>
</div>
<div class="navbar-header">
  <a href="index-2.html" class="navbar-brand">
    <div class="logo text-nowrap">
      <div class="logo__img">
        <i class="fa fa-chevron-right"></i>
      </div>
      <span class="logo__text">Sail3</span>
    </div>
  </a>
</div>
